.todo-list li .icon-pause,
.todo-list li .icon-play {
	font-size: 18px;
	width: 18px;
	height: 18px;
}

.todo-list li .icon-play {
	font-size: 15px;
}

.icon-pause:after {
	content: '⏸';
}

.icon-play:after {
	content: '▶';
}

.todo-list li .icon-play {
    font-size: 15px;
    margin-left: 25px;
}

.timer {
    font-size: 13px;
    margin-left: 50px;
}

.timer-block {
    position: relative;
    left: 60px;
    bottom: 10px;
}